@import './custom-scrollbar';
@import './varirables';



.main__container {
    width: min(1280px, 95%);
    margin: auto;
}

.body__container {
    margin-top: var(--header_height);
}

.ad__header__container{
    width: min(1280px, 95%);
    margin: auto;
}


.header__container{
    width: 100%;
    background: var(--header-bg);
    position: fixed;
    top: 0;
    height: var(--header_height);
    z-index: 999;
    display: flex;
}

.footer_top_container{
    margin-top: 3em;
    background-color: var(--primary-light);
}

.footer_bottom_container{
    background-color: var(--footer-bg)
}

body {
    @include custom-scroll-y(8px, --footer-bg);
    overflow-x: hidden;
}

.copyright{
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--3d-border-color);
    padding: 1em 0;

    .text{
        font-size: 12px;
        font-weight: 400;
        color: white;
    }
}
     .ngx-slider-selection,
    .ngx-slider-pointer  {
        background: var(--primary) !important;
}
.mat-dialog-overlay-background{
    background: white !important;
}