:root {
    --header-bg: #F3F3F3;
    --ad-header-bg: #fff;
    --top-header-color: #333333;
    --primary: #219EBC;
    --secondary: #013047;
    --btn_grey: #FAFAFA;
    --heading-color: #000000;
    --footer-bg: rgba(20, 24, 33, 1);
    --grey-text: rgba(184, 184, 184, 1);
    --dark-blue-text: rgba(0, 47, 52, 1);
    --primary-light: rgba(43, 190, 249, 0.29);
    --primary-shadow: rgba(43, 190, 249, 0.1);
    --white: #ffffff;
    --bottom_border_line: rgba(206, 206, 206, 1);

    /*================= ALI RAMZAN ==================*/

    --3d-border-color: rgba(216, 223, 224, 1);
    --active-tab-color: #46D454;
    --light-gray-bg: #fafafa;
    --gray-field-color: #858997;
    --dark-green-color: #002F34;
    --link-blue-color: #3A77FF;
    --danger-red-color: #dc143c;
    --label-color: #414141;

    /*================= MEDIA QUERIES ==================*/
    --tabs: 900px;

    /*================= CONSTANTS ==================*/
    --header_height: 100px;
    --ad_header_height : 50px;

    /*================= TYPOGRAPHY ==================*/
    --com-text: min(16px, calc(1vw + 8px));

    --active-chat-bg: rgba(97, 94, 240, 0.10);
    --dark-gray-border: #888080D9;

    --font-family: 'Poppins', sans-serif;

}